DirectoryIndex index.php

<FilesMatch "\.php$">
    SetHandler application/x-httpd-alt-php74___lsphp
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /admin-iam-panel/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
